<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
           <ion-text color="primary"><h1>Find Food Near You</h1></ion-text>  
        </ion-col>
        <ion-col size="3">
          <ion-img src="assets/Food4U.png"  size="small" ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-searchbar placeholder="search for food"></ion-searchbar>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>



<ion-content  >


    <ion-list-header>
      List Of Available Foods
      <br>
    </ion-list-header>
      <ion-card *ngFor="let foodDetail of foods" >       
          <img [src]="foodDetail.imageURL">
        <ion-card-header>
          <ion-card-title>
            {{ foodDetail.name }}
          </ion-card-title>
        </ion-card-header>
          <ion-card-content>
             {{ foodDetail.price }}
          </ion-card-content>
          </ion-card>

  
</ion-content>

<ion-footer >
 
    <ion-grid>
      <ion-row>
        <ion-col size="6w">
          <ion-icon name="home"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    
 
</ion-footer>
