<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
           <ion-text color="primary"><h1>Find Food Near You</h1></ion-text>  
        </ion-col>
        <ion-col size="3">
          <ion-img src="assets/Food4U.png"  size="small" ></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-searchbar placeholder="search for food"></ion-searchbar>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>



<ion-content  color="primary">

  <ion-grid>
    <ion-row>

      <ion-col size="6" >
        <ion-card>
          <ion-img src="https://images.food52.com/C18MUIyFXgXHyI-SfbqNDlWU1io=/1200x900/103b54ba-45fd-47d5-84f1-d9e3ed1245a8--2019-1022_kek-lapis-sarawak_3x2_rocky-luten_028.jpg"></ion-img>
          <ion-card-title>Kek Lapis Sarawak</ion-card-title>
          <ion-card-content>RM7.00</ion-card-content>
          <br><br>
        </ion-card>
       
      </ion-col>

      <ion-col size="6" >
        <ion-card>
          <ion-img src="https://cf.shopee.com.my/file/ba4aec95c2a2df721480e686ebc64c7a"></ion-img>
          <ion-card-title>Spicy Salted Egg</ion-card-title>
          <ion-card-content>RM7.00</ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  
</ion-content>

<ion-footer >
 
    <ion-grid>
      <ion-row>
        <ion-col size="6w">
          <ion-icon name="home"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    
 
</ion-footer>
